.fav-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  background: var(--clr-rose);
  padding: 10px;
  border-radius: 4px;
}