* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: calc(1em + 0.5rem);
}

body {
  min-height: 100vh;
  width: 100%;
  background: var(--clr-dark);
  color: var(--clr-light);
}

html {
  font-family: 'General Sans', sans-serif;
  scroll-behavior: smooth;
}